xdg-shell-client-protocol.h linguist-vendored
xdg-shell-protocol.c linguist-vendored
xdg-decoration-unstable-v1-client-protocol.h linguist-vendored
xdg-decoration-unstable-v1-protocol.c linguist-vendored
