name: CI

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  test-build:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Test build on linux for linux
            os: ubuntu-22.04
            goos: linux
            build_cmd: |
              set -x;
              go build -o out ./examples/hello
              file out

          - name: Test build on windows for windows
            os: windows-2022
            goos: windows
            build_cmd: |
              set -x;
              go build -o out ./examples/hello
              file out

          - name: Test build on linux for windows
            os: ubuntu-22.04
            goos: windows
            build_cmd: |
              set -x;
              GOOS=windows go build -o out ./examples/hello
              file out

          - name: Test build on linux for web
            os: ubuntu-22.04
            goos: js
            build_cmd: |
              set -x;
              GOOS=js GOARCH=wasm go build -o out ./examples/hello
              file out

          - name: Test build on linux for android
            os: ubuntu-22.04
            goos: android
            setup_env: |
              go install github.com/rajveermalviya/tsukuru/cmd/tsukuru@latest
            build_cmd: |
              set -x;
              tsukuru build apk ./examples/hello

          - name: Test build on macOS
            os: macos-latest
            build_cmd: |
              set -x;
              go build -o out ./examples/hello
              file out

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: "1.19"
      - name: Setup Environment
        run: ${{ matrix.setup_env }}
        shell: bash
      - name: Run build tests
        shell: bash
        run: ${{ matrix.build_cmd }}
